<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @course.name %>
</p>

<%= link_to 'Edit', edit_professors_course_path(@course) %> |
<%= link_to 'Back', professors_courses_path %>
